<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>6531c961</string>
	<key>AppKey</key>
	<string>987b2ca3e1da7fb7c73346ac8481ff31</string>
</dict>
</plist>
